@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic|Roboto+Slab:400,700");
#styleguide code.style-code {
  background-color: #efefef;
  border: 1px solid #dddddd;
  padding: 2px 4px;
}
#styleguide ul.color {
  border: 1px solid #dddddd;
  color: #222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  float: left;
  list-style: none;
  margin-right: 2%;
  padding: 10px 0;
  width: 23%;
}
#styleguide ul.color li ul {
  margin: 10px 0 0;
  padding: 0 15px;
  list-style: none;
  width: 100%;
}
#styleguide ul.color li ul li {
  font-size: 14px;
  line-height: 21px;
}
#styleguide ul.color li:first-child span {
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 900;
  height: 60px;
  padding: 5px 15px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  width: 100%;
}
#styleguide ul.color li:nth-child(2) span {
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  width: 25%;
}
#styleguide ul.color.default span {
  background-color: #cccccc;
}
#styleguide ul.color.default span.style-cs80 {
  background-color: rgba(204, 204, 204, 0.8);
}
#styleguide ul.color.default span.style-cs60 {
  background-color: rgba(204, 204, 204, 0.6);
}
#styleguide ul.color.default span.style-cs40 {
  background-color: rgba(204, 204, 204, 0.4);
}
#styleguide ul.color.default span.style-cs20 {
  background-color: rgba(204, 204, 204, 0.2);
}
#styleguide h1.style-main-title {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
}
#styleguide h2.style-section-title {
  color: #222;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin: 25px 0;
  text-transform: uppercase;
}
#styleguide h3.style-article-title {
  color: #333;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-transform: lowercase;
}
#styleguide h3.style-article-title.spec {
  color: #222;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
#styleguide h4.style-article-title {
  color: rgba(0, 0, 0, 0.35);
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
}
#styleguide h4.style-article-title.alt {
  color: rgba(255, 255, 255, 0.35);
}
#styleguide #header {
  background: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  height: 65px;
  line-height: 45px;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
#styleguide .wrapper {
  margin-top: 65px;
  padding: 0 20px;
}
#styleguide #title {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
  padding: 40px 0;
}
#styleguide #title h1 {
  margin: 0;
}
#styleguide section {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
#styleguide section:last-child {
  border: 0;
}
#styleguide section article {
  border: 1px solid #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 40px;
  width: 100%;
  *zoom: 1;
}
#styleguide section article:last-child {
  margin-bottom: 0;
}
#styleguide section article:after {
  content: "";
  display: table;
  clear: both;
}
#styleguide section article .styles {
  padding: 8px 15px;
}
#styleguide section article header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #efefef;
  padding: 8px 15px;
}
#styleguide section article.open {
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#styleguide section article.open header {
  background: transparent;
  border: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
